<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
Redirect permanent http://patmyron.com/resume.html http://patmyron.com/resume
Redirect permanent http://patmyron.com/projects.html http://patmyron.com/projects
Redirect permanent http://patmyron.com/index.html http://patmyron.com
order deny,allow

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

SetEnvIfNoCase Referer darodar.com spambot=yes
SetEnvIfNoCase Referer o-o-6-o-o.com spambot2=yes
SetEnvIfNoCase Referer humanorightswatch.org spambot3=yes
SetEnvIfNoCase Referer bestwebsitesawards.com spambot4=yes
Order allow,deny
Allow from all
Deny from env=spambot
Deny from env=spambot2
Deny from env=spambot3
Deny from env=spambot4