---
---
<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta content="Personal website for Pat Myron, Computer Science student at Notre Dame" name="description">
	<meta content="Pat,Myron,Notre,Dame,Computer,Science,Pittsburgh,Upper,St,Clair" name="keywords">
	<title>Patrick Myron</title>
	<link href="https://patmyron.com" rel="canonical">
	{% include_relative head.html %}
</head>
<body class="page page-id-390 page-template-default custom-background mp6 single-author no-footer-sidebar highlander-enabled highlander-light">
	{% include_relative header.html %}
	<div class="hfeed site" id="page">
		<div>
			<div style="width:100%; height:0; background-color:white">
				<p class="landingPic" style="max-width:600px;"><img alt="Pat Myron" class="photo" src="pics/football.png"></p>
				<div class="vcard" style=" font-size: 2em; font-weight: bold; padding:20px; line-height: 1.4em;">
					<p>Hi, I'm Pat Myron</p>

					<p>I grew up in Upper St. Clair, a suburb of Pittsburgh, PA</p>

					<p>I studied Computer Science at the University of Notre Dame</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>