.flex-header {
	text-align: center !important;
	font-weight: bold !important; 
	/* padding-top: 10px !important;
	padding-bottom: 30px !important; */
	text-transform: uppercase !important; 
	line-height: 48px !important;
	font-size: 2em  !important;
}
.flex-container {
	padding: 0;
	margin: 0;
	list-style: none;
	display: box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.flex-container {
	padding: 0;
	margin: 0;
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}

.flex-item img {
	max-height: 243px;
}
.flex-item {
	background: #c0c0c0;
	border-radius: 16pt;
	padding: 5px;
	width: 450px;
	height: 450px;
	margin-top: 10px;
	line-height: 25px !important;
	color: white;
	font-weight: bold !important; 
	font-size: 1.5em !important;
	text-align: center;
}
.aFlex {
		color: #000080;
}
.aFlex:hover {
	color: blue;
}