---
---
<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta content="Pat Myron's Projects" name="description">
	<meta content="Pat,Myron,Notre,Dame,Computer,Science,Pittsburgh,Upper,St,Clair,projects" name="keywords">
	<title>Pat Myron's projects</title>
	<link href="https://patmyron.com/projects" rel="canonical">
	{% include_relative head.html %}
</head>
<body class="page page-id-390 page-template-default custom-background mp6 single-author no-footer-sidebar highlander-enabled highlander-light">
	{% include_relative header.html %}
	<div class="hfeed site" id="page">
		<div>
			<div style="width:100%; height:0; background-color:white">
				<ul class="flex-container">
					<li class="flex-item">
						<iframe frameborder="0" src="https://www.youtube.com/embed/WXF8otqsvsA?rel=0"></iframe>
						<h1 class="flex-header">Blackbox Puzzles</h1>
						<p>
							Android<br>
							<a class="aFlex" href="https://www.blackboxpuzzles.com">Website</a> | <a class="aFlex" href="https://github.com/PatMyron/BlackBox">GitHub</a>
						</p>
					</li>
					<li class="flex-item">
						<iframe frameborder="0" src="https://www.youtube.com/embed/eTC2xUKVzRQ?rel=0"></iframe>
						<h1 class="flex-header">Drone Phone App</h1>
						<p>
							Android, Python<br>
							<a class="aFlex" href="http://sarec.nd.edu/droneProjects/DronePhoneApp">Website</a> | <a class="aFlex" href="https://github.com/SAREC-Lab/DronePhoneApp">GitHub</a>
						</p>
					</li>
					<li class="flex-item">
						<iframe frameborder="0" src="https://www.youtube.com/embed/6JipGzUHMJE?rel=0"></iframe>
						<h1 class="flex-header">Dribblr</h1>
						<p>
							Android, iOS<br>
							<a class="aFlex" href="https://patmyron.com/dribblrapp.com">Website</a>
						</p>
					</li>
					<li class="flex-item">
						<iframe frameborder="0" src="https://www.youtube.com/embed/VVs4Akmzlt8?rel=0"></iframe>
						<h1 class="flex-header">Raise.com Extension</h1>
						<p>
							JavaScript<br>
							<a class="aFlex" href="https://chromewebstore.google.com/detail/raisecom-extension/kknoembcnnnhefehcmegppchcmggaafo">Website</a> | <a class="aFlex" href="https://github.com/PatMyron/Raise-Chrome-Extension">GitHub</a>
						</p>
					</li>
					<li class="flex-item">
						<a href="https://raw.githubusercontent.com/PatMyron/wpial/master/example.png"><img alt="wpial screenshot" src="https://raw.githubusercontent.com/PatMyron/wpial/master/example.png"></a>
						<h1 class="flex-header">WPIAL sports stats</h1>
						<p>
							Java, JavaScript<br>
							<a class="aFlex" href="https://patmyron.com/wpial">Website</a> | <a class="aFlex" href="https://github.com/PatMyron/wpial">GitHub</a>
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
