---
---
<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta content="Pat Myron's Resume" name="description">
	<meta content="Pat,Myron,Notre,Dame,Computer,Science,Pittsburgh,Upper,St,Clair,Resume" name="keywords">
	<title>Patrick Myron's resume</title>
	<link href="https://patmyron.com/resume" rel="canonical">
	{% include_relative head.html %}
</head>
<body class="page page-id-390 page-template-default custom-background mp6 single-author no-footer-sidebar highlander-enabled highlander-light">
	{% include_relative header.html %}
	<div class="hfeed site" id="page">
		<div style="width:100%; height:0; background-color:white">
			<embed src="resume.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&view=Fit&zoom=100" class="resume" type="application/pdf"  style="height:1100px; width:850px; max-width:100%"/>
		</div>
	</div>
</body>
</html>