 p.landingPic img {
   width: 100%;
   height: auto;
   max-height: 550px;
   max-width: 550px;
   margin: 15%;
 }
 @media screen and (max-width: 600px) {
  p.landingPic img{
    padding: 4%;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  p.landingPic {
    float: left;
  }
  div.vcard {
    margin-left: 750px;
    padding-right: 1% !important;
    padding-bottom: 2% !important;
    padding-top: 14% !important;
  }
}
p.resume {
  display: block;
  margin-left: auto;
  margin-right: auto;
}