 p.landingPic img {
   width: 100%;
   height: auto;
   max-height: 550px;
   max-width: 550px;
   margin: 4%;
 }
 @media screen and (max-width: 600px) {
  p.landingPic img{
    padding: 4%;
    margin: 0;
  }
}
@media screen and (min-width: 850px) {
  p.landingPic {
    float: left;
  }
  div.vcard {
    margin-left: 700px;
    padding-right: 1%;
    padding-bottom: 2%;
    padding-top: 11%;
  }
}