 h1.site-title {
  text-align: center;
}
h2.social {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


/* landing page */

p.landingPic img {
   width: 100%;
   height: auto;
   max-height: 550px;
   max-width: 550px;
   margin: 15%;
 }
 @media screen and (max-width: 600px) {
  p.landingPic img{
    padding: 4%;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  p.landingPic {
    float: left;
  }
  div.vcard {
    margin-left: 750px;
    padding-right: 1% !important;
    padding-bottom: 2% !important;
    padding-top: 14% !important;
  }
}


/* resume */

img.resume {
  display: block;
  margin-left: auto;
  margin-right: auto;
}




/*  projects part */


.flex-header {
  text-align: center !important;
  font-weight: bold !important; 
  /* padding-top: 10px !important;
  padding-bottom: 30px !important; */
  text-transform: uppercase !important; 
  line-height: 48px !important;
  font-size: 2em  !important;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item img {
  max-height: 243px;
}
.flex-item iframe {
  width: 95%;
  height: auto;
  max-height: 243px;
  height: 243px;
}
.flex-item {
  background: #c0c0c0;
  border-radius: 16pt;
  padding: 5px;
  width: 450px;
  height: 450px;
  margin-top: 10px;
  line-height: 25px !important;
  color: white;
  font-weight: bold !important; 
  font-size: 1.5em !important;
  text-align: center;
}
.aFlex {
    color: #000080;
}
.aFlex:hover {
  color: blue;
}