---
---
<!DOCTYPE html>

<html lang="en-US">
<head>
	<meta content="Pat Myron's Travel" name="description">
	<meta content="Pat,Myron,Notre,Dame,Computer,Science,Pittsburgh,Upper,St,Clair,Travel" name="keywords">
	<title>Patrick Myron's travel</title>
	<link href="https://patmyron.com/travel" rel="canonical">
	{% include_relative head.html %}
</head>

<body class="page page-id-390 page-template-default custom-background mp6 single-author no-footer-sidebar highlander-enabled highlander-light">
	{% include_relative header.html %}
	<div class="hfeed site" id="page">
		<div style="width:100%; height:0; background-color:white">
			<iframe src="https://goo.gl/gBR0Av" width="640" height="480"
			style="max-width: 100%; display: block; margin-left: auto; margin-right: auto;"></iframe>
		</div>
	</div>
</body>
</html>
