html {
    background:url(http://theinspirationroom.com/daily/commercials/2011/3/panyee_football_pontoon.jpg) no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
